/*
    nie wiem czemu to nie dziala kurwa powinno i jakies dziwne {# #} sie wyswietla na navbarze
    edit: juz wiem od czego jest {# #} to przez to ze linkowanie css jest w tych chujkach pewnie chuj wi co to robi wiec zostawiam jak jest
*/
.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color: red;*/ /*tak sprawdzalem czy wgl to zmienia ten caly container (nie zmienia) ogl macie spierdolone duzo rzeczy i prawdopodobnie to przez to ze bierzecie nava z szablonu jakiegos i inne rzeczy ale tak chujowo ze style sie nadpisuja (nie umiem tego naprawic)*/
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #30203040;
    width: 30vw;
    border-radius: 10px;
    padding: 3rem;
}

form input {
    background-color: #ffffff33;
    border: none;
    padding: 1rem;
    width: 50%;
    border-radius: 10px;
    transition: width .3s ease-in-out, border-radius .3s ease-in-out;
    margin: 1rem;
}

form input.t:focus {
    border: none;
    outline: none;
    width: 70%;
    border-radius: 100px;
}

form input::placeholder {
    transition: opacity .2s ease-in-out;
    color: #1a1a1a;
}

form input:focus::placeholder {
    opacity: 0;
}

form div {
    font-size: 300%;
    font-weight: 700;
    margin-bottom: 2rem;
}

form input[type="submit"], form input[type="button"] {
    transition: background-color .2s ease-in-out;
    background-color: #302030;
    color: #a1a1a1;
    width: 30%;
}

form input[type="submit"]:hover, form input[type="button"]:hover {
    cursor: pointer;
    background-color: #9090c088;
}

.remember {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.remember input {
    width: 1rem;
    height: 1rem;
    border: 1px solid #302030;
}

form input.wrong {
    position: relative;
    box-shadow: 0 2px 0 -1px #FF9696;
    background-color: #ffaaaa33;
    display: flex;
    align-items: center;
    justify-content: center;
}

form input.wrong::before {
    content: "tutaj wpisz blad";
    position: absolute;
    /* ustawiane jako set atribute w tym inpucie w ktorym jest blad
        set atribute style="--err"
        wtedy ta linijka to
        content: --err;
    */
    color: #FF9696;
    top: 110%;
    /* z-index: 100; */
}

/* Confirm Form */

#confirm-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 200;
    width: 500px;
    text-align: center;
    padding: 40px;
}

#confirm-div {
    background-color: rgb(0, 0, 0, 0.8);
}

#cancel-button, #confirm-button {
    width: 20%;
    font-size: 12%;
}

#confirm-button {
    background-color: #852b2b;
}

#confirm-button:hover {
    background-color: #a82a2a;
}

#confirm-buttons {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 0.5ch;
}

#confirm-message {
    font-size: 40px;
    font-weight: lighter;
}

/* Sidebar Forms */

#sort-form, #language-form {
    width: max-content;
    background-color: #0000;
    padding: 1ch;
}

/* New Schedule Form */

#new-schedule-form {
    width: max-content;
}

/* Add Data Forms */

.add-data-form {
    width: max-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1000px;
}

.add-data-form hr {
    margin: 1ch 0;
}

.add-data-form * {
    flex: 1 1 20%;
}

.full-row-adf-item {
    font-size: 20px;
    flex: 1 1 100%;
}

footer {
    height: 50%;
}