form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #1a1a1aaa;
    width: 30vw;
    border-radius: 10px;
    padding: 3rem;
}

form input {
    background-color: #ffffff33;
    border: none;
    padding: 1rem;
    width: 50%;
    border-radius: 10px;
    transition: width .3s ease-in-out, border-radius .3s ease-in-out;
    margin: 1rem;
}

form input.t:focus  {
    border: none;
    outline: none;
    width: 70%;
    border-radius: 100px;
}

form input::placeholder {
    transition: opacity .2s ease-in-out;
    color: #1a1a1a;
}

form input:focus::placeholder {
    opacity: 0;
}

form div {
    font-size: 300%;
    font-weight: 700;
    margin-bottom: 2rem;
}

form input[type="submit"] {
    transition: background-color .2s ease-in-out;
    background-color: #302030;
    color: #a1a1a1;
    width: 30%;
}

form input[type = "submit"]:hover {
    cursor: pointer;
    background-color: #9090c088;
}