.content {
    display: flex;
    flex-direction: row;
}

.main {
    width: 78.5%;
    display: flex;
    flex-direction: column;
}

.content ol {
    list-style-type: disc;
}

.schedules {
    margin: 1vh 1vh 1vh 0;
    display: flex;
}

.schedule {
    width: 100% !important;
}

.days, .groups {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}

.days {
    gap: 1rem;
}

.groups {
    text-align: left;
    gap: 0.5rem;
}

.day {
    border-radius: 4px;
    padding: 1rem 0.5rem 0.5rem;
    text-align: center;
    background-color: #DAD7CD;
}

h3 {
    text-transform: uppercase;
}

.subject {
    height: 14em;
    border-radius: 2px;
    flex-grow: 1;
    line-height: 1.4em;
    margin-top: 1rem;
    padding: 0.4rem;
    background-color: #A3B18A;
    white-space: initial;
    color: #588157;
}

.data {
    color: #3A5A40;
}

.class-switch {
    background-color: #ffbbff11;
    width: 40px;
    height: 40px;
    margin: 1ch 2ch 1ch 0;
    border-radius: 10%;
    cursor: pointer;
}

#buttons {
    display: flex;
    flex-direction: row;
}

#title {
    font-size: 250%;
}
