* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    /* background: linear-gradient(to right bottom, #302030, #101020); */
    background: linear-gradient(to right bottom, #30203000, #101020);
    background-color: #000;
    width: 100vw;
    min-height: 100vh;
    color: white;
    overflow-X: hidden;
    background-attachment: fixed;
}

::-webkit-scrollbar {
    width: 10px;
    background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
    background-color: #99c;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #aab;
}

.nav {
    padding: 1.5rem;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    transition: box-shadow .2s ease-in-out, background-color .2s ease-in-out;
    display: flex;
    z-index: 100;
}

#logo {
    color: #ddaadd;
    font-weight: 700;
    font-size: 200%;
}

#logo:hover {
    color: #dddd00;
}

#logo, .nav ul li {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.nav-top {
    box-shadow: inset 0 0px #2a2a2a;
    background-color: #00000000;
}

.nav-scrolled {
    background-color: #000000;
    box-shadow: inset 0 -3px #1a1a1a;
}

.nav ul {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    width: 100%;
}

.nav ul li {
    list-style: none;
    display: inline-block;
}

a {
    color: #dddd00;
    text-decoration: none;
    position: relative;
    z-index: 1;
    transition: all .1s ease-in-out;
    cursor: pointer;
}

a:hover {
    color: #ddccdd;
}

a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 10%;
    background-color: #ffffff22;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: all .1s ease-in-out;
}

a:hover::before {
    width: 100%;
}

#now {
    display: none;
}

p {
    color: #ffffffbb;
    font-weight: 300;
}

footer {
    font-weight: 200;
    letter-spacing: 1px;
    background-color: #000;
    padding: 3rem;
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #ffffff55;
}

footer div, footer a {
    margin: 3rem;
}

footer a {
    color: #00ffff88;
}