{% extends 'generatorApp/index.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'generatorApp/schedules.css' %}">
    <title>classroom</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        .main{
            margin-left: 40%;
            margin-top: 15%;
        }
    </style>
{% endblock %}

{% block content %}

    {% include 'generatorApp/schedule_list.html' %}

    <main>
        <form method="POST" enctype="multipart/form-data" action="{{ request.get_full_path }}/upload">
            {% csrf_token %}
            <input type="file" name="file">
            <button type="submit">Upload</button>
        </form>
    
        <div id="confirm-div" class="center">
            <p style="height: 10%">Are you sure you want to delete selected?</p>
            <div id="confirm-buttons">
                <span>
                    <input type="button" id="cancel-button" onclick="(
                        () => {
                            document.getElementById('confirm-div').style.visibility = 'hidden';
                        })();
                    " value="Cancel">
                    <input type="submit" id="confirm-button" value="Confirm">
                </span>
            </div>
        </div>

        <h2><b>{{ file_name }}</b></h2>

        <div class="data-container">
            <table>
                <tr>
                    <th></th>
                    <th>ID</th>
                    <th>name</th>
                    <th>type</th>
                </tr>
                {% for value in objects_list %}
                    <tr>
                        <td><input type="checkbox" id="delete-{{ forloop.counter }}" name="delete" value="{{ value.in_id }}" form="confirm-form"></td>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ value.name }}</td>
                        <td>{{ value.type_id }}</td>
                    </tr>
                {% endfor %}

            </table>
        </div>
        <input type="button" class="confirm-button" onclick="(
            () => {
                document.getElementById('confirm-div').style.visibility = 'visible';
                document.getElementById('confirm-message').innerHTML = 'Are you sure you want to delete selected items';
                    let confirm_form = document.getElementById('confirm-form') || null;
                    if(confirm_form) {
                       confirm_form.action = '{{ request.get_full_path }}/delete'
                    }
            })();
        " value="Delete">


        <form method="POST">
            {% csrf_token %}
            <div>Add classrooms</div>

            {{ form.name }}
            <select class="t" id="type-id" name="type-id">
                {% for object in queryset %}
                    <option value="{{ object.in_id }}">{{ object.description }}</option>
                {% endfor %}
            </select>

            <input type="submit" value="Add">
        </form>
    </main>
    
{% endblock %}
