{% extends 'generatorApp/index.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'generatorApp/schedules.css' %}">
    <title>classroom types</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% endblock %}

{% block content %}

    {% include 'generatorApp/schedule_list.html' %}

    <main>
        <form method="POST" enctype="multipart/form-data" action="{{ request.get_full_path }}/upload">
            {% csrf_token %}
            <input type="file" name="file">
            <button type="submit">Upload</button>
        </form>
    
        <h2><b>{{ file_name }}</b></h2>


        <div class="data-container">
            <table>
                <tr>
                    <th></th>
                    <th>ID</th>
                    <th>name</th>
                </tr>
                {% for value in objects_list %}
                    <tr>
                        <td><input type="checkbox" id="delete-{{ forloop.counter }}" name="delete" value="{{ value.in_id }}" class="delete-checkbox"></td>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ value.description }}</td>
                    </tr>
                {% endfor %}

            </table>
        </div>

        <input type="button" class="confirm-button" id="delete_btn" value="Delete">

        <form method="POST" class="add-data-form">
            {% csrf_token %}
            <div class="add-data-form-title full-row-adf-item">Add classroom types</div>

            {{ form.description }}

            <input type="submit" value="Add">
        </form>
    </main>

    <script>
        let delete_btn = document.getElementById("delete_btn");

        delete_btn.addEventListener('click', () => {
            let selected = [];
            document.querySelectorAll('.delete-checkbox:checked').forEach((checkbox) => {
                selected.push(checkbox.value);
            });

            if (selected.length > 0) {
                // Join the selected items into a single string for the `q` parameter
                let queryString = selected.map(item => `delete=${item}`).join('&');
                // Update the popup with the new URL structure
                popup.style.display = "flex";
                popup_msg.innerHTML = "delete?";
                popup_confirm.href = "{{ request.get_full_path }}" + "delete/?" + queryString;
            }
        })

        popup.addEventListener('click', () => {
            popup.style.display = "none"
        })
    </script>
    
{% endblock %}
