{% extends 'generatorApp/index.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'generatorApp/schedules.css' %}">
    <title>classes</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}

{% block content %}

    {% include 'generatorApp/schedule_list.html' %}

    <main>
        <form method="POST" enctype="multipart/form-data" action="{{ request.get_full_path }}/upload">
            {% csrf_token %}
            <input type="file" name="file">
            <button type="submit">Upload</button>
        </form>

        <h2><b>{{ file_name }}</b></h2>

        <div class="data-container">
            <table>
                <tr>
                    <th></th>
                    <th>ID</th>
                    <th>supervising_teacher_id</th>
                    <th>grade</th>
                    <th>class_signature</th>
                    <th>starting_lesson_hour_id</th>
                </tr>
                {% for value in objects_list %}
                    <tr>
                        <td><input type="checkbox" id="delete-{{ forloop.counter }}" name="delete" value="{{ value.in_id }}" form="confirm-form"></td>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ value.supervising_teacher_id }}</td>
                        <td>{{ value.grade }}</td>
                        <td>{{ value.class_signature }}</td>
                        <td>{{ value.starting_lesson_hour_id }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>

        <input type="button" class="confirm-button" onclick="(
            () => {
                document.getElementById('confirm-div').style.visibility = 'visible';
                document.getElementById('confirm-message').innerHTML = 'Are you sure you want to delete selected items';
                    let confirm_form = document.getElementById('confirm-form') || null;
                    if(confirm_form) {
                       confirm_form.action = '{{ request.get_full_path }}/delete'
                    }
            })();
        " value="Delete">


        <form method="POST" class="add-data-form">
            {% csrf_token %}
            <div class="add-data-form-title full-row-adf-item">Add class</div>

            {{ form.grade }}
            {{ form.class_signature }}

            <select class="t" id="supervising-teacher" name="supervising-teacher">
                {% for object in teachers_queryset %}
                    <option value="{{ object.in_id }}">{{ object }}</option>
                {% endfor %}
            </select>

            <select class="t" id="starting-lesson-hour" name="starting-lesson-hour">
                {% for object in lesson_hours_queryset %}
                    <option value="{{ object.in_id }}">{{ object.start_hour }}</option>
                {% endfor %}
            </select>

            <input type="submit" value="Add">
        </form>
    </main>
    
{% endblock %}
