{% extends 'generatorApp/index.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'generatorApp/schedules.css' %}">
    <title>lesson hours</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% endblock %}

{% block content %}

    {% include 'generatorApp/schedule_list.html' %}

    <main>
        <form method="POST" enctype="multipart/form-data" action="{{ request.get_full_path }}/upload">
            {% csrf_token %}
            <input type="file" name="file">
            <button type="submit">Upload</button>
        </form>

        <h2><b>{{ file_name }}</b></h2>

        <div class="data-container">
            <table>
                <tr>
                    <th></th>
                    <th>ID</th>
                    <th>start_hour</th>
                </tr>
                {% for value in objects_list %}
                    <tr>
                        <td><input type="checkbox" id="delete-{{ forloop.counter }}" name="delete" value="{{ value.in_id }}" form="confirm-form"></td>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ value.start_hour }}</td>
                    </tr>
                {% endfor %}

            </table>
        </div>
        <input type="button" class="confirm-button" onclick="(
            () => {
                document.getElementById('confirm-div').style.visibility = 'visible';
                document.getElementById('confirm-message').innerHTML = 'Are you sure you want to delete selected items';
                    let confirm_form = document.getElementById('confirm-form') || null;
                    if(confirm_form) {
                       confirm_form.action = '{{ request.get_full_path }}/delete'
                    }
            })();
        " value="Delete">


        <form method="POST" class="add-data-form">
            {% csrf_token %}
            <div class="add-data-form-title full-row-adf-item">Add lesson hours</div>

            {{ form.start_hour }}

            <input type="submit" value="Add">
        </form>
    </main>
    
{% endblock %}
