{% extends 'generatorApp/index.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'generatorApp/schedules.css' %}">
    <title>subject names</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        .main{
            margin-left: 40%;
            margin-top: 15%;
        }
    </style>
{% endblock %}

{% block content %}

    {% include 'generatorApp/schedule_list.html' %}

    <main>
        {% if messages %}
            {% for message in messages %}
                <h3 {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h3>
            {% endfor %}
        {% endif %}

        <h2><b>{{ file_name }}</b></h2>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="file">
            <button type="submit">Upload</button>
        </form>

        <div class="data-container">
            <table>
                <tr>
                    <th>ID</th>
                    <th>name</th>
                </tr>
                {% for value in objects_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ value.name }}</td>
                    </tr>
                {% endfor %}

            </table>
        </div>


        <form method="POST">
            {% csrf_token %}
            <div>Add subject names</div>

            {{ form.name }}

            <input type="submit" value="Add">
        </form>
    </main>
    <br>
    
{% endblock %}
