{% extends 'generatorApp/index.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'generatorApp/schedules.css' %}">
    <title>subjects</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        .main{
            margin-left: 40%;
            margin-top: 15%;
        }
    </style>
{% endblock %}

{% block content %}

    {% include 'generatorApp/schedule_list.html' %}

    <main>
        {% if messages %}
            {% for message in messages %}
                <h3 {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h3>
            {% endfor %}
        {% endif %}

        <h2><b>{{ file_name }}</b></h2>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="file">
            <button type="submit">Upload</button>
        </form>

        <div class="data-container">
            <table>
                <tr>
                    <th>ID</th>
                    <th>classes</th>
                    <th>subject name</th>
                    <th>lesson hour</th>
                    <th>teachers</th>
                    <th>classroom</th>
                    <th>subject count in week</th>
                    <th>number of groups</th>
                    <th>maximum les stack</th>
                    <th>classroom types</th>
                </tr>
                {% for value in objects_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ value.classes_id }}</td>
                        <td>{{ value.subject_name_id }}</td>
                        <td>{{ value.lesson_hour_id }}</td>
                        <td>{{ value.teachers_id }}</td>
                        <td>{{ value.classroom_id }}</td>
                        <td>{{ value.subject_count_in_week }}</td>
                        <td>{{ value.number_of_groups }}</td>
                        <td>{{ value.max_stack }}</td>
                        <td>{{ value.classroom_types }}</td>
                    </tr>
                {% endfor %}

            </table>
        </div>


        <form method="POST">
            {% csrf_token %}
            <div>Add subjects</div>

            <select class="t" id="class-id" name="class-id">
                {% for object in classes_queryset %}
                    <option value="{{ object.in_id }}">{{ object }}</option>
                {% endfor %}
            </select>

            <select class="t" id="subject-name" name="subject-name">
                {% for object in subject_names_queryset %}
                    <option value="{{ object.in_id }}">{{ object }}</option>
                {% endfor %}
            </select>

            <select class="t" id="teachers" name="teachers" multiple="multiple">
                {% for object in teachers_queryset %}
                    <option value="{{ object.in_id }}">{{ object }}</option>
                {% endfor %}
            </select>

            {{ form.subject_count_in_week }}
            {{ form.number_of_groups }}
            {{ form.max_stack }}

            <select class="t" id="classroom-type-id" name="classroom-type-id" multiple="multiple">
                {% for object in classroom_types_queryset %}
                    <option value="{{ object.in_id }}">{{ object }}</option>
                {% endfor %}
            </select>

            <input type="submit" value="Add">
        </form>

    </main>
    <br>
{% endblock %}
