{% extends 'generatorApp/index.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'generatorApp/schedules.css' %}">
    <title>teachers</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        .main{
            margin-left: 40%;
            margin-top: 15%;
        }
    </style>
{% endblock %}

{% block content %}

    {% include 'generatorApp/schedule_list.html' %}

    <main>
        {% if messages %}
            {% for message in messages %}
                <h3 {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h3>
            {% endfor %}
        {% endif %}

        <h2><b>{{ file_name }}</b></h2>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="file">
            <button type="submit">Upload</button>
        </form>

        <div class="data-container">
            <table>
                <tr>
                    <th>ID</th>
                    <th>name</th>
                    <th>type</th>
                </tr>
                {% for value in objects_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ value.name }}</td>
                        <td>{{ value.surname }}</td>
                        <td>{{ value.main_classroom_id }}</td>
                        <td>{{ value.possible_subjects }}</td>
                        <td>{{ value.start_hour_index }}</td>
                        <td>{{ value.end_hour_index }}</td>
                        <td>{{ value.days }}</td>
                    </tr>
                {% endfor %}

            </table>
        </div>


        <form method="POST">
            {% csrf_token %}
            <div>Add classroom types</div>

            {{ form.name }}
            {{ form.surname }}

            <select class="t" id="main-classroom-id" name="main-classroom-id">
                {% for object in classrooms_queryset %}
                    <option value="{{ object }}">{{ object }}</option>
                {% endfor %}
            </select>

            <select class="t" id="possible-subjects" name="possible-subjects" multiple>
                {% for object in subjects_queryset %}
                    <option value="{{ object }}">{{ object }}</option>
                {% endfor %}
            </select>
            {% with 'monday tuesday wednesday thursday friday' as days %}
                {% for day in days.split %}
                    <hr>
                    <span>{{ day }}</span>
                    <select class="t" id="start-hour-{{ day }}" name="start-hour-{{ day }}">
                        {% for object in lesson_hours_queryset %}
                            <option value="{{ object }}">{{ object }}</option>
                        {% endfor %}
                    </select>

                    <select class="t" id="end-hour-{{ day }}" name="end-hour-{{ day }}">
                        {% for object in lesson_hours_queryset %}
                            <option value="{{ object }}">{{ object }}</option>
                        {% endfor %}
                    </select>
                {% endfor %}
            {% endwith %}

            <hr>

            <select class="t" id="days" name="days" multiple>
                {% with 'monday tuesday wednesday thursday friday' as days %}
                    {% for day in days.split %}
                        <option value="{{ day }}">{{ day }}</option>
                    {% endfor %}
                {% endwith %}
            </select>

            <input type="submit" value="Add">
        </form>
    </main>
    
{% endblock %}
