{% extends 'generatorApp/index.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'generatorApp/schedules.css' %}">
    <title>teachers</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% endblock %}

{% block content %}

    {% include 'generatorApp/schedule_list.html' %}

    <main>
        <form method="POST" enctype="multipart/form-data" action="{{ request.get_full_path }}/upload">
            {% csrf_token %}
            <input type="file" name="file">
            <button type="submit">Upload</button>
        </form>

        <h2><b>{{ file_name }}</b></h2>

        <div class="data-container">
            <table>
                <tr>
                    <th></th>
                    <th>ID</th>
                    <td>name</td>
                    <th>surname</th>
                    <th>main classroom</th>
                    <th>possible subjects</th>
                    <th>
                        start hour
                        <br>
                        <div style="display: inline-block">
                            <span class="inline-day-item">Mon</span>
                            <span class="inline-day-item">Tue</span>
                            <span class="inline-day-item">Wen</span>
                            <span class="inline-day-item">Thu</span>
                            <span class="inline-day-item">Fri</span>
                        </div>
                    </th>
                    <th>
                        end hour
                        <br>
                        <div style="display: inline-block">
                            <span class="inline-day-item">Mon</span>
                            <span class="inline-day-item">Tue</span>
                            <span class="inline-day-item">Wen</span>
                            <span class="inline-day-item">Thu</span>
                            <span class="inline-day-item">Fri</span>
                        </div>
                    </th>
                    <th>
                        days
                        <br>
                        <div style="display: inline-block">
                            <span class="inline-day-item">Mon</span>
                            <span class="inline-day-item">Tue</span>
                            <span class="inline-day-item">Wen</span>
                            <span class="inline-day-item">Thu</span>
                            <span class="inline-day-item">Fri</span>
                        </div>
                    </th>
                </tr>
                {% for value in objects_list %}
                    <tr>
                        <td><input type="checkbox" id="delete-{{ forloop.counter }}" name="delete" value="{{ value.in_id }}" form="confirm-form"></td>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ value.name }}</td>
                        <td>{{ value.surname }}</td>
                        <td>{{ value.main_classroom_id }}</td>
                        <td>{{ value.possible_subjects }}</td>
                        <td>
                            <div id="start-hours" style="display: inline-block">
                                {% for hour in value.start_hour_index %}
                                    <span class="start-hour inline-day-item">{{ hour }}</span>
                                {% endfor %}
                            </div>
                        </td>
                        <td>
                            <div id="end-hours" style="display: inline-block">
                                {% for hour in value.end_hour_index %}
                                    <span class="end-hour inline-day-item">{{ hour }}</span>
                                {% endfor %}
                            </div>
                        </td>
                        <td>
                            <div id="days" style="display: inline-block">
                                {% for day in value.days %}
                                    <span class="day inline-day-item">{{ day }}</span>
                                {% endfor %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <input type="button" class="confirm-button" onclick="(
            () => {
                document.getElementById('confirm-div').style.visibility = 'visible';
                document.getElementById('confirm-message').innerHTML = 'Are you sure you want to delete selected items';
                    let confirm_form = document.getElementById('confirm-form') || null;
                    if(confirm_form) {
                       confirm_form.action = '{{ request.get_full_path }}/delete'
                    }
            })();
        " value="Delete">


        <form method="POST" class="add-data-form">
            {% csrf_token %}
            <div class="add-data-form-title full-row-adf-item">Add teachers</div>

            {{ form.name }}
            {{ form.surname }}

            <select class="t" id="main-classroom-id" name="main-classroom-id">
                <option value="None">None</option>
                {% for object in classrooms_queryset %}
                    <option value="{{ object.in_id }}">{{ object }}</option>
                {% endfor %}
            </select>

            <select class="t" id="possible-subjects" name="possible-subjects" multiple="multiple">
                {% for object in subjects_queryset %}
                    <option value="{{ object }}">{{ object }}</option>
                {% endfor %}
            </select>

            <hr class="full-row-adf-item">

            {% with 'monday tuesday wednesday thursday friday' as days %}
                {% for day in days.split %}
                    <div class="full-row-adf-item">
                        <span>{{ day }}</span>
                        <select class="t" id="start-hour-{{ day }}" name="start-hour-{{ day }}">
                            {% for object in lesson_hours_queryset %}
                                <option value="{{ object }}">{{ object }}</option>
                            {% endfor %}
                        </select>

                        <select class="t" id="end-hour-{{ day }}" name="end-hour-{{ day }}">
                            <option value="None">None</option>
                            {% for object in lesson_hours_queryset %}
                                <option value="{{ object }}">{{ object }}</option>
                            {% endfor %}
                        </select>
                    </div>
                {% endfor %}
            {% endwith %}

            <hr class="full-row-adf-item">

            <select class="t" id="days" name="days" multiple="multiple">
                {% with 'monday tuesday wednesday thursday friday' as days %}
                    {% for day in days.split %}
                        <option value="{{ day }}" selected>{{ day }}</option>
                    {% endfor %}
                {% endwith %}
            </select>

            <input type="submit" value="Add">
        </form>
    </main>
    
{% endblock %}
