<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% if messages %}
    <div class="messages">
        {% for message in messages %}
            <b><h2 {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {{ message }}
            </h2></b>
        {% endfor %}
    </div>
{% endif %}

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="file">
    <button type="submit">Upload</button>
</form>

</body>
</html>