{% extends 'generatorApp/index.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'generatorApp/home.css' %}">
    <title>home</title>
{% endblock %}

{% block content %}

    <div class="home">
        <h1>School Schedule Generator</h1>
        <p>jaki kurwa cwel japierdole ja z tym cwelem nie bede jechal wysiadamy z tego ubera wysiadamy patrz jaka pizda japierdole</p>
    </div>

    <div class="blocks">
        <div>
            <h2>twoja stara</h2>
            <p>zlizuje mi gline spod glowicy. jaki kurwa cwel japierdole ja z tym cwelem nie bede jechal wysiadamy z tego ubera wysiadamy patrz jaka pizda japierdole</p>
        </div>
        <div>
            <h2>lorem ipsum</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam ipsam labore incidunt facilis nam dolor velit natus repellendus, veniam dolore necessitatibus eos beatae culpa nihil fuga, suscipit libero et. Nostrum.</p>
        </div>
        <div>
            <h2>lorem ipsum</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam ipsam labore incidunt facilis nam dolor velit
                natus repellendus, veniam dolore necessitatibus eos beatae culpa nihil fuga, suscipit libero et. Nostrum.</p>
        </div>
        <div>
            <h2>lorem ipsum</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam ipsam labore incidunt facilis nam dolor velit
                natus repellendus, veniam dolore necessitatibus eos beatae culpa nihil fuga, suscipit libero et. Nostrum.</p>
        </div>
        <div>
            <h2>lorem ipsum</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam ipsam labore incidunt facilis nam dolor velit
                natus repellendus, veniam dolore necessitatibus eos beatae culpa nihil fuga, suscipit libero et. Nostrum.</p>
        </div>
        <div>
            <h2>lorem ipsum</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam ipsam labore incidunt facilis nam dolor velit
                natus repellendus, veniam dolore necessitatibus eos beatae culpa nihil fuga, suscipit libero et. Nostrum.</p>
        </div>
        <div>
            <h2>lorem ipsum</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam ipsam labore incidunt facilis nam dolor velit
                natus repellendus, veniam dolore necessitatibus eos beatae culpa nihil fuga, suscipit libero et. Nostrum.</p>
        </div>
        <div>
            <h2>lorem ipsum</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam ipsam labore incidunt facilis nam dolor velit
                natus repellendus, veniam dolore necessitatibus eos beatae culpa nihil fuga, suscipit libero et. Nostrum.</p>
        </div>
    </div>

    <div class="news">
        <h2>News and updates</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos alias eaque assumenda, voluptatem non in, nam nobis iste, modi doloribus atque officiis officia corrupti tempore unde sapiente vitae et optio.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam delectus optio magni animi explicabo labore soluta perspiciatis doloremque libero! Harum veniam praesentium voluptas placeat, velit deleniti quia nam veritatis iure?</p>
    </div>

    <div class="faq">
        <h2>faq</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur qui fugit dolorum? Quod itaque id in nobis
            placeat mollitia nemo optio excepturi consectetur sed magni accusamus quas, vero dicta deleniti?</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem, quasi commodi. Sapiente, quia provident?
            Explicabo dolorum, ea quis a architecto exercitationem, doloribus minima animi minus, dicta tempore voluptatum
            repellendus velit.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur qui fugit dolorum? Quod itaque id in nobis
                placeat mollitia nemo optio excepturi consectetur sed magni accusamus quas, vero dicta deleniti?</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem, quasi commodi. Sapiente, quia provident?
                Explicabo dolorum, ea quis a architecto exercitationem, doloribus minima animi minus, dicta tempore voluptatum
                repellendus velit.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur qui fugit dolorum? Quod itaque id in nobis
                    placeat mollitia nemo optio excepturi consectetur sed magni accusamus quas, vero dicta deleniti?</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem, quasi commodi. Sapiente, quia provident?
                    Explicabo dolorum, ea quis a architecto exercitationem, doloribus minima animi minus, dicta tempore voluptatum
                    repellendus velit.</p>
    </div>

{% endblock %}