<!--jesli ta linijka bedzie powodowala blad przeniesz ja pod doctype, nie wiem czemu w pycharm podokresla-->
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'generatorApp/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"
    rel="stylesheet">
    {% block head %}
        <title>SSG</title>
    {% endblock %}
</head>
<body>
<div class="nav nav-top">
    <div id="logo">SSG</div>
    <ul>
        <li>
        {% if user.is_authenticated %}
            <a href="{% url 'generatorApp:logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'generatorApp:login' %}">Log in</a>
        {% endif %}</li>
        <li><a href="{% url 'generatorApp:docs' %}">Documentation</a></li>
        <li><a href="{% url 'generatorApp:schedules' %}">Schedules</a></li>
        <li><a href="{% url 'generatorApp:home' %}">Home</a></li>
    </ul>
</div>

<div class="content">
    {% block content %}
    {% endblock %}
</div>

<script src="{% static 'generatorApp/script.js' %}"></script>

</body>
</html>
