{% extends 'generatorApp/index.html' %}
{% load static %}

{% block head %}
{#    <link rel="stylesheet" href="{% static 'generatorApp/form.css' %}">#}
    <title>log in</title>
{% endblock %}

{% block content %}

{% if error_msg %}
    <p style="background-color: #e87373; color: #a90f0f; padding: 10px">{{ error_msg }}</p>
{% endif %}

<form method="POST">
    {% csrf_token %}
    <div>Log in</div>

    {{ form.username }}
    {{ form.password }}

    <p style="opacity: .5; margin: 1rem;">Don't you have account yet? <a href="{% url 'generatorApp:register' %}">Register</a></p>

    <input type="submit" value="Log in">
</form>

{% endblock %}