{% extends 'generatorApp/index.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'generatorApp/login_register.css' %}">
    <title>register</title>
{% endblock %}

{% block content %}

<form method="POST">
{# action="{% url 'generatorApp:login' %}" nie potrzebne prawdopodobnie#}
    {% csrf_token %}
    <div>Register</div>

    {% for input in form %}
        {{ input }}
    {% endfor %}

    <p style="opacity: .5; margin: 1rem;">do you already have account? <a href="{% url 'generatorApp:login' %}">Log in</a></p>

    <input type="submit" value="Register">
</form>

{% endblock %}