{% extends 'generatorApp/index.html' %}
{% load static %}

{% block head %}
{#    <link rel="stylesheet" href="{% static 'generatorApp/login_register.css' %}">#}
    <title>register</title>
{% endblock %}

{% block content %}

{% if error_msg %}
    <p style="background-color: #e87373; color: #a90f0f; padding: 10px">{{ error_msg }}</p>
{% endif %}

<form method="POST">
    {% csrf_token %}
    <div>Register</div>
    
    <input type="text" class="t" id="login" name="login" placeholder="login" required>

    <input type="email" class="t" id="email" name="email" placeholder="email" required>

    <input type="password" class="t" id="password" name="password" placeholder="password" required>

    <input type="password" class="t" id="rpassword" name="rpassword" placeholder="repeat password" required>

    <p style="opacity: .5; margin: 1rem;">Do you already have account? <a href="{% url 'generatorApp:login' %}">Log in</a></p>

    <input type="submit" value="Register">
</form>

{% endblock %}