{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'generatorApp/aside.css' %}">
{% endblock %}

<aside class="sticky-wrapper">
    <div class="aside-content">
        <h3>
            <span>List of your schedules</span>
            <a href="{% url 'generatorApp:schedules_base' %}">
                <span style="font-size: 150%">+</span>
            </a>
        </h3>

        <ol class="scrollable">
            {% if schedule_list %}
                {% for schedule in schedule_list %}
                    <li>
                        <a href="{% url 'generatorApp:schedule' username=user.username schedule_name=schedule.name %}">
                            {{ schedule.name }}, {{ schedule.created_date }}
                        </a>

                        <ul class="schedule-data-list" style="padding-left: 2ch">
                            {% for label in labels %}
                                <li><a href="{% url 'generatorApp:schedule' username=user.username schedule_name=schedule.name%}{{label}}">{{ label }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            {% else %}
                <p>It seems to you don't have any schedules :<</p>
            {% endif %}
        </ol>

        
        <form method="GET" id="sort-form">
            <h4>Sort by:</h4>
            <select name="sort_by" id="sort_by">
                <option value="name">Name(A-Z)</option>
                <option value="created_date">Created date</option>
            </select>
        </form>
    </div>

    <button id="toggleAside" class="toggle-btn">
        <span id="arrow">←</span>
    </button>

    <script>
        $(document).ready(()=>{
            $('#sort_by').change(()=>{
                $('#sort-form').submit()
            })
        })

        const urlParams = new URLSearchParams(window.location.search)
        const sortBy = urlParams.get('sort_by')
        if(sortBy){
            $('#sort_by').val(sortBy)
        }

        document.getElementById('toggleAside').addEventListener('click', function() {
            const aside = document.querySelector('aside');
            const main = document.querySelector('main')
            const arrow = document.getElementById('arrow');

            if (aside.classList.contains('aside-hidden')) {
                aside.classList.remove('aside-hidden');
                main.classList.remove('main-fill');
                arrow.textContent = '←'; // Point the arrow left
            } else {
                aside.classList.add('aside-hidden');
                main.classList.add('main-fill');
                arrow.textContent = '→'; // Point the arrow right
            }
        });
    </script>
</aside>
