{% extends 'generatorApp/index.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'generatorApp/schedule.css' %}">
    <title>schedules</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        .main{
            margin-left: 40%;
            margin-top: 15%;
        }
        .schedules{
            display: flex;
            flex-direction: column;
        }
        .schedule{
            width: 80vw;
            background-color: gold;
            margin: 4px;
            padding: 10px;
            display: flex;
            flex-direction: column;
        }
        .days{
            margin: 3px;
            display: flex;
            justify-content: space-between;
        }
        .day{
            margin: 10px;
            background-color: lightcoral;
            padding: 10px;
        }
        .subject{
            background-color: green;
            padding: 5px;
            margin-bottom: 3px;
        }
    </style>
{% endblock %}

{% block content %}

   {% include 'generatorApp/schedule_list.html' %}

    <main>
        <h3>{{ schedule.name }}</h3>
        <br>
        <div class="schedules">
            {% for class_id, days in schedule_content.items %}
                <div class="schedule">
                    <h3 style="float: left; padding-right: 1ch">
                        {% for class_name in schedule.classes_set.all%}
                            {% if class_name == class_id %}
                                <div>{{ class_name }}</div>
                            {% endif %}
                        {% endfor %}
                    </h3>
                    <div class="days">
                        {%  for day, subjects in days.items %}
                            <div class="day">
                                <h3> {{ day }}</h3>
                                <div class="subjects">
                                    {% for subject_list in subjects %}
                                        {% for subject in subject_list %}
                                        {# labels for one schedule #}
                                        {# subject_id #}
                                        {# subject_name_id #}
                                        {# class_id #}
                                        {# number_of_groups #}
                                        {# lesson_hour_id #}
                                        {# teachers_id #}
                                        {# classroom_id #}
                                        {# is_empty #}
                                        {# max_stack #}
                                        {# movable #}
                                        {# group #}
                                        {# classroom_types #}
                                            <div class="subject">
                                                <div>Godzina {{ subject.lesson_hour_id }}</div>
                                                <div>Przedmiot: {{ subject.subject_name_id }}</div>
                                                <div>Nauczyciel: {{ subject.teachers_id }}</div>
                                                <div>Klasa: {{ subject.classroom_id }}</div>
                                                <div>Grupa: {{ subject.group }}</div>
                                            </div>
                                        {% endfor %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div style="clear: both"></div>
    </main>

{% endblock %}
