{% extends 'generatorApp/index.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'generatorApp/schedules.css' %}">
    <title>schedules</title>
    <style>
        .main{
            margin-left: 40%;
            margin-top: 15%;
        }
    </style>
{% endblock %}

{% block content %}
<div class="main">
    <form method="POST">
        {% csrf_token %}
        <div>Create new schedule</div>

        {{ form }}

        <input type="submit" value="Create">
    </form>

    <br>
    <br>

    <div>
        <h3>List of your schedules</h3>
        <ol>
            {% for schedule in schedule_list %}
                <li><a href="{% url 'generatorApp:schedules' %}">{{ schedule.name }}, {{ schedule.created_date }}</a></li>
            {% endfor %}
        </ol>
    </div>
</div>
{% endblock %}
