{% extends 'generatorApp/index.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'generatorApp/schedules.css' %}">
    <title>schedules</title>
{% endblock %}

{% block content %}
    {% include 'generatorApp/schedule_list.html' %}
    {% include 'generatorApp/schedule_form.html' %}

    <div style="float: left; width: 20%; color: white;">
        {{ schedule_list }}
    </div>
    
    <div style="float: left; width: 80%; color: white;">
        {{ schedule_form }}
    </div>
{% endblock %}
