{% extends 'generatorApp/index.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'nazwapliku.css' %}">
{% endblock %}

{% block content %}
    
    
<form method="POST" action="{% url 'generatorApp:settings' schedule_id %}">
    {% csrf_token %}
    <label for="min_lessons_per_day">Minimum number of lessons per day</label>
    
    <input type="number" id="min_lessons_per_day" name="min_lessons_per_day" value="{{ min_lessons_per_day|default:5 }}"/>

    <label for="max_lessons_per_day">Maximum number of lessons per day</label>
    <input type="number" id="max_lessons_per_day" name="max_lessons_per_day" value="{{ max_lessons_per_day|default:9 }}"/>

    <label for="days">Choose a car:</label>
    <select id="days" name="days" size="7" multiple>
        <option value='monday' {% if 'monday' in days %}selected{% endif %}>Mon</option>
        <option value='tuesday' {% if 'tuesday' in days %}selected{% endif %}>Tue</option>
        <option value='wednesday' {% if 'wednesday' in days %}selected{% endif %}>Wen</option>
        <option value='thursday' {% if 'thursday' in days %}selected{% endif %}>Thu</option>
        <option value='friday' {% if 'friday' in days %}selected{% endif %}>Fri</option>
        <option value='saturday' {% if 'saturday' in days %}selected{% endif %}>Sua</option>
        <option value='sunday' {% if 'sunday' in days %}selected{% endif %}>Sun</option>
    </select>

    <input type="submit" value="generate">
</form>

{% endblock %}